{% extends 'bookGallery/base.html' %}
{% block headcontent %}

<title>{{book.title}}</title>
{%endblock %}

{% block content %}

<div class="album py-1 bg-body-tertiary">
    <div class="container">
        <h1> {{ book.title }}</h1>
    </div>
</div>

<div class="container py-5">
    <div class="row">

        <div class="col">
            <div class="container">

                <div class="flex-image-container ">
                    <img src="{{ book.cover.url }}" class="card-img-top book-cover" alt="Book Cover">
                </div>

                <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">

                        <form method="post" action="{% url 'addOrder' %}">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value={{book.pk}}>
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="redirect" value="false">
                            <input type="hidden" name="next" value={{request.path}}>
                            <button type="submit" class="btn btn-sm btn-outline-secondary" data-bs-container="body"
                                    data-bs-toggle="popover" data-bs-placement="bottom"
                                    data-bs-content="Книга добавлена в корзину">Добавить в корзину
                            </button>
                        </form>

                        <form method="post" action="{% url 'addOrder' %}">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value={{book.pk}}>
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="redirect" value="true">
                            <input type="hidden" name="next" value={{request.path}}>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Купить сейчас</button>
                        </form>
                    </div>
                    <p>{{ book.amount}} Осталось</p>
                </div>
            </div>
        </div>
        <div class="col">
            <p>Авторы:</p>
            <ul>
                {% for author in book.author.all %}
                <li><p>{{author}}</p></li>
            </ul>
            {%endfor%}
            <p>Издатель: "{{book.publisher}}"</p>
            <p>Жанр: {{book.genre}}</p>
            <p>Цена: {{book.price}} рублей</p>
            <p>Описание:</p>
            <p> {{ book.description }}</p>

        </div>
    </div>
</div>

{% endblock %}